extends ../.././layouts/default
include ../.././mixins/filterStatus
include ../.././mixins/search
include ../.././mixins/pagination
include ../.././mixins/formChangeMulti

block main
  h1 Danh sach san pham
  .card
    .card-body
      .card.mb-3
        .row
          .col-6
            +filter-status(filterStatus)
          .col-6
            +search(keyword)
      +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
      table.table
        thead
          tr
            th
              input(type="checkbox" name="checkall")
            th STT
            th Hinh anh
            th Tieu de
            th Gia
            th Trang thai
            th Hanh dong
          tbody
            each product,index in products
              tr
                td
                  input(type="checkbox" name="check" value=product.id)
                td #{(objectPagination.currentPage-1) * objectPagination.limitItems+index+1}
                td
                  img(src=`#{product.thumbnail}`)
                td #{product.title}
                td #{product.price}$
                if product.status == "active"
                  td
                    button(
                      class="btn btn-sm btn-success"
                      button-change-status
                      data-id=product.id
                      data-status="inactive"
                    ) Hoat dong
                else
                  td
                    button(
                      class="btn btn-sm btn-danger"
                      button-change-status
                      data-id=product.id
                      data-status="active"
                    ) Dung hoat dong
                td
                  button.btn.btn-sm.btn-warning Sua
                  button(
                    class="btn btn-sm btn-danger"
                    button-delete
                    data-id=product.id
                  ) Xoa
    +pagination(objectPagination)

    form(
      action=""
      method="POST"
      id="form-change-status"
      data-path=`${prefixAdmin}/products/change-status`
    )

    form(
      action=""
      method="POST"
      id="form-delete-product"
      data-path=`${prefixAdmin}/products/delete`
    )
  script(src="/admin/js/products.js")
