extends ../.././layouts/default
include ../.././mixins/filterStatus
include ../.././mixins/search
include ../.././mixins/pagination
include ../.././mixins/formChangeMulti
include ../.././mixins/alertMessage

block main
  +alert-success(5000)
  +alert-error(5000)
  h1 Danh sach san pham
  .card
    .card-body
      .card.mb-3
        .row
          .col-6
            +filter-status(filterStatus)
          .col-6
            +search(keyword)
      .row
        .col-8
          +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
        .col-4
          a(
            class="btn btn-outline-success"
            href=`${prefixAdmin}/products/create`
          ) + Them moi
      .card.mb-3.mt-2
        .card-header Sap xep
        .card-body
          .row
            .col-4
              div(sort)
                select(
                  class="form-control"
                  name="sort"
                  sort-select
                )
                  option(value="position-desc") Vi tri giam dan
                  option(value="position-asc") Vi tri tang dan
                  option(value="price-desc") Gia giam dan
                  option(value="price-asc") Gia tang dan
                  option(value="title-desc") Tieu de A - Z
                  option(value="title-asc") Tieu de Z - A
                button(
                  class="btn btn-danger mt-2"
                  sort-clear
                ) Clear
                  
      table.table
        thead
          tr
            th
              input(type="checkbox" name="checkall")
            th STT
            th Hinh anh
            th Tieu de
            th Gia
            th Vi tri
            th Trang thai
            th Hanh dong
          tbody
            each product,index in products
              tr
                td
                  input(type="checkbox" name="check" value=product.id)
                td #{(objectPagination.currentPage-1) * objectPagination.limitItems+index+1}
                td
                  img(src=product.thumbnail
                      style="width: 150px; height: 100px; object-fit: cover"
                  )
                td #{product.title}
                td #{product.price}$
                td
                  input(
                    type="number"
                    value=product.position
                    style="width: 60px"
                    min="1"
                    name="position"
                  )
                if product.status == "active"
                  td
                    button(
                      class="btn btn-sm btn-success"
                      button-change-status
                      data-id=product.id
                      data-status="inactive"
                    ) Hoat dong
                else
                  td
                    button(
                      class="btn btn-sm btn-danger"
                      button-change-status
                      data-id=product.id
                      data-status="active"
                    ) Dung hoat dong
                td
                  a(
                    class="btn btn-warning"
                    href=`${prefixAdmin}/products/edit/${product.id}`
                  ) Sua
                  button(
                    class="btn btn-sm btn-danger"
                    button-delete
                    data-id=product.id
                  ) Xoa
                  a(
                    class="btn btn-secondary"
                    href=`${prefixAdmin}/products/detail/${product.id}`
                  ) Chinh sua
    +pagination(objectPagination)

    form(
      action=""
      method="POST"
      id="form-change-status"
      data-path=`${prefixAdmin}/products/change-status`
    )

    form(
      action=""
      method="POST"
      id="form-delete-product"
      data-path=`${prefixAdmin}/products/delete`
    )
  script(src="/admin/js/products.js")
