include .././mixins/sub-menu

header.header
  .container.header-bar.row
    .left.col-7
      a(href="/")
        img(src=(settings.logo || "/img/enaAvatar.png") height="100px" width="100px" class="header-img")
      a(href="/cart") Gio hang (#{cartCount ? cartCount : 0})
    .right.col-5
      form(
        action="/search"
        method="GET"
      )
        input(
          name="keyword"
          placeholder="Nhap tu khoa ..."
          value=keyword || ""
        )
        button(
          class="btn btn-primary"
          type="submit"
        ) Tim
      ul.nav-list
        li.nav-item
          a(href="/") Trang chủ
        if(!user)
          li.nav-item
            a(href="/user/register") Dang ki
          li.nav-item
            a(href="/user/login") Dang nhap
        else
          li.nav-item
            a(href="/user/detail") #{user.fullName}
          li.nav-item
            a(href="/user/logout") Dang xuat
          li.nav-item
            a(href="/chat") Chat
        li(class="nav-item products-page")
          a(href="/products" ) Trang sản phẩm
            -let pathProduct = "/products"
            +sub-menu(layoutProductCategory, pathProduct)
