extends ../.././layouts/auth.pug
include ../.././mixins/alertMessage.pug

block main
  +alert-error(3000)
  div(class="container" style="width:500px")
    h1(class="text-center") Dang nhap
    div
      form(
        class="mt-5 d-block"
        method="post"
        action=`${prefixAdmin}/auth/login`
      )
        div(class="form-group")
          label(for="email") Email
          input(
            type="text"
            id="email"
            name="email"
            class="form-control"
          )
        div(class="form-group")
          label(for="password") Mat khau
          input(
            type="password"
            id="password"
            name="password"
            class="form-control"
          )
        div(class="form-group mt-3")
          button(
            type="submit"
            class="btn btn-success"
          ) Dang nhap
