mixin search(keyword)
  form(id="form-search")
    .input-group
      input(
        type="text"
        placeholder="Nhap tu khoa"
        name="keyword"
        value=keyword
      )
    .input-group-append
      button(
        type="submit"
        class="btn btn-success"
      ) Tim kiem
