extends ../../../layouts/default
include ../../../mixins/alertMessage

block main
  +alert-error(3000)
  div(class="container" style="width:500px")
    h1(class="text-center") Doi mat khau
    div
      form(
        class="mt-5 d-block"
        method="post"
        action="/user/password/reset"
      )
        div(class="form-group")
          label(for="password") Mat khau moi
          input(
            type="password"
            id="password"
            name="password"
            class="form-control"
          )
        div(class="form-group")
          label(for="otp") Xac nhan mat khau
          input(
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            class="form-control"
          )
        div(class="form-group mt-3")
          button(
            type="submit"
            class="btn btn-success"
          ) Doi mat khau
